.welcome-message{
  font-size: 2.5rem;
  background-color: hsl(133, 99%, 50%);
  color: black;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

.login-prompt{
  font-size: 2.5rem;
  background-color: hsl(14, 98%, 51%);
  color: white;
  padding: 10px;
  margin: 0;
  border-radius: 5px;
}

.category{
  font-size: 3em;
  background-color: aqua;
  border: 2px solid black;
  border-radius: 5px;
}

.item{
  font-size: 1.5em;
  background-color: rgb(34, 0, 255);
  border: 2px solid black;
  border-radius: 5px;
}

.counter-container{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.counter-display{
  font-size: 10em;
  margin-bottom: 50px;
}
.counter-button{
  width: 150px;
  height: 50px;
  font-size: 1.5em;
  font-weight: bold;
  margin: 0px 5px;
  background-color: hsl(197,100%, 58%);
  border: none;
  color: white;
  cursor: pointer;
}

.counter-button:hover{
  background-color: hsl(197,100%, 48%);

}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid hsl(0%,0%, 80%); 
  border-radius:25px ;
  margin-bottom: 25px;
  transition: 0.25s ease;
}
.color-display p{
  color: black;
  font-size: 2em;
  text-align: center;
}

.color-picker-container label{
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

input[type = "color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid hsl(0%,0%, 80%);
}

